@using DSRemapper.Types;

<div class="pov-item">
    <span>@Name</span>
    <svg width="50px" height="50px">
        <polygon points="17,0 33,0 33,15 25,23 17,15"
                 fill="@(Value.Up?"#aaa":"#282828")"></polygon>
        <polygon points="17,50 33,50 33,35 25,27 17,35"
                 fill="@(Value.Down?"#aaa":"#282828")"></polygon>
        <polygon points="0,17 0,33 15,33 23,25 15,17"
                 fill="@(Value.Left?"#aaa":"#282828")"></polygon>
        <polygon points="50,17 50,33 35,33 27,25 35,17"
                 fill="@(Value.Right?"#aaa":"#282828")"></polygon>
    </svg>
    <span>@($"{Value.Angle:##0.00}")</span>
</div>

@code {
    [Parameter]
    public string Name { get; set; } = "Unamed";
    [Parameter]
    public DSPov Value { get; set; } = null!;
}