@using DSRemapper.Core;
@using DSRemapper.DSLogger;
@using DSRemapper.RemapperCore;
@using DSRemapper.ConfigManager;
@using Microsoft.AspNetCore.Components.Forms

@{
#pragma warning disable CS8974 //this is for call C# functions from onclick event
}

<div class="ctrl">
    <img>
    <div class="ctrl-main">
        <div class="title"><label><InputCheckbox @bind-Value=active /> @Name - @Type</label></div>
        <div class="description">@InfoLine</div>
        <select class="profile-list" onchange="@UpdateProfile">
            <option value="">Select a profile</option>
            @foreach (string op in ProfileManager.GetProfiles())
            {
                <option value="@op">@op</option>
            }
        </select>
        <div class="console">@ConsoleText</div>
    </div>
    <div class="buttons">
        <button onclick="">Connect</button>
        <button onclick="">Disconnect</button>
        <button>Input Test</button>
    </div>
</div>

@code {
    private bool active = false;

    [Parameter, EditorRequired]
    public Remapper Remapper { get; set; } = null!;

    private string Name => Remapper.Name;
    private string Type => Remapper.Type;
    private string InfoLine = "";
    private string ConsoleText= "";

    private List<string> options = new()
    {
        "test1",
        "test2",
        "test3",
        "test4",
    };

    private void UpdateProfile(ChangeEventArgs e)
    {
        
    }
}
