@page "/"
@using DSRemapper.RazorLayouts;
@using DSRemapper.ConfigManager;
@using DSRemapper.Core;

@{
    #pragma warning disable CS8974 //this is for call C# functions from onclick event
}

<div id="nav">
    <button onclick="bridge.LogWarning('Not working')">File</button>
    <button onclick="@DSBridge.WindowsControllers">Windows controllers</button>
    <button onclick="@DSBridge.LogConsole">Log console</button>
    <span>@RemapperCore.RemapperCore.remappers.Count</span>
</div>
<div id="main">
    <div id="controller-list">
        @foreach(var rmp in RemapperCore.RemapperCore.remappers)
        {
            <ControllerItem Remapper="rmp" />
        }
    </div>
</div>
<div id="footer">
</div>

@code{
    private void ControllersUpdate(List<RemapperCore.Remapper> remappers)
    {
        this.InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
        #if DEBUG
            DSBridge.LogConsole();
        #endif

            RemapperCore.RemapperCore.OnUpdate += ControllersUpdate;
            RemapperCore.RemapperCore.StartScanner();
        }
    }
}
<!--

<div class="main-DSLayout">
</div>

    <h1>Hello World!</h1>
    <h1><test>This is DSRemapper Razor View</test></h1>
    <button onclick="@DSBridge.WindowsControllers">Windows Controllers</button>
    <button onclick="@DSBridge.LogConsole">Windows Controllers</button>

    <ControllerItem/>-->
