@using DSRemapper.DSMath;
<div class="six-item">
    <span>@Name</span>
    <svg width="100px" height="10px">
        <rect x="0" y="0" width="100" height="10" rx="3" ry="3" fill="#282828"></rect>
        <rect x="0" y="0" width="@svgxVal" height="10" rx="3" ry="3" fill="#aaa"></rect>
    </svg>
    <span>@($"{Value.X:0.000}")</span>
    <svg width="100px" height="10px">
        <rect x="0" y="0" width="100" height="10" rx="3" ry="3" fill="#282828"></rect>
        <rect x="0" y="0" width="@svgyVal" height="10" rx="3" ry="3" fill="#aaa"></rect>
    </svg>
    <span>@($"{Value.Y:0.000}")</span>
    <svg width="100px" height="10px">
        <rect x="0" y="0" width="100" height="10" rx="3" ry="3" fill="#282828"></rect>
        <rect x="0" y="0" width="@svgzVal" height="10" rx="3" ry="3" fill="#aaa"></rect>
    </svg>
    <span>@($"{Value.Z:0.000}")</span>
</div>

@code {
    [Parameter]
    public string Name { get; set; } = "Unamed";
    [Parameter]
    public DSVector3 Value { get; set; } = null!;
    [Parameter]
    public float Scale { get; set; } = 1;

    private int svgxVal => (int)Math.Round((Value.X/Scale + 1) * 50, 0);
    private int svgyVal => (int)Math.Round((Value.Y/Scale + 1) * 50, 0);
    private int svgzVal => (int)Math.Round((Value.Z/Scale + 1) * 50, 0);
}
